<!DOCTYPE html>
<html ng-App="watchApp">
	<head>
		<meta charset="UTF-8">
		<title>
            Waiststaff Calculator
		</title>
		<link rel="stylesheet" type="text/css" href="index.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.0-beta.10/angular-messages.min.js"></script>
        <script src="index.js"></script>
        <script type="text/ng-template" id="error-messages-number">

            <span ng-model="errorMessageOne" class="error" ng-message="required">You did not enter a value for the previous field</span>
            <span ng-model="errorMessagetwo" class="error" ng-message="number">You did not enter a number
            </span>
        </script>
	</head>
	<body ng-controller="watchControl">
	    <h1>Waiststaff Calculator</h1>
	    	<form name="mealForm"  ng-submit="validateInputs(mealForm.$submitted)"  novalidate>
	    	    <div class="columns">
		    		<div class="leftSide">  
				        
				    		<h2>Enter the Meal Details</h2>
				    		 
				    		<div class="inputGroupOne">
				    		    <label for="mealPrice">Base Meal Price: $</label> 
				    			<input type="number" name="mealPrice" id="mealPrice" ng-model="mealPrice" required>
				    			<span class="error" ng-messages="mealForm.mealPrice.$error" ng-if="mealForm.$submitted && !mealForm.$valid && submitButton"  ng-messages-include="error-messages-number" ng-messages-multiple>
				    			</span>
				    		</div>
				    		
				    		<div class="inputGroupOne">
				    		    <label for="taxRate">Tax Rate: %</label>
				    			<input type="number" name="taxRate" id="taxRate" ng-model="taxRate" required>
				    			<span class="error" ng-messages="mealForm.taxRate.$error" ng-if="mealForm.$submitted && !mealForm.$valid && submitButton"  ng-messages-include="error-messages-number" ng-messages-multiple>
				    			</span>
				    		</div>
				    		
				    		<div class="inputGroupOne">
								<label for="tipPercentage">Tip Percentage: %</label>
								<input type="number" name="tipPercentage" id="tipPercentage" ng-model="tipPercentage" required>
				    			<span class="error" ng-messages="mealForm.tipPercentage.$error" ng-if="
				    			mealForm.$submitted && !mealForm.$valid && submitButton" ng-messages-include="error-messages-number" ng-messages-multiple>
				    			</span>
				    		</div>
				    		<div class="buttons">
				    			<input type="submit" class="button1" value="Submit" name="submitted" ng-model="submitted" ng-click="getInputs(mealForm.$valid)">
				    		
				    			<input type="submit" class="button3" value="Cancel" ng-click="clearInputs()">
				    		</div>
				    </div>
				    <div class="rightSide">
				    	<div class="righttSide">
					    	<h2>Customer Charges</h2>
					    		<div class="inputGroupTwo">
						    		<label>Subtotal:</label>
						    		<span class="mealValue" ng-show="mealForm.$submitted && mealForm.$valid && submitButton">{{mealValue|number:2}}</span>
						    	</div>
						    	<div class="inputGroupTwo">
						    		<label>Tip:</label>
						    		<span class="taxValue" ng-show="mealForm.$submitted && mealForm.$valid && submitButton" >{{taxValue|number:2}}</span>
					    		</div>
					    		<block class="line"></block>
					    		<div class="inputGroupTwo">
						    		<label>Total:</label>
						    		<span class="totalValue" ng-show="mealForm.$submitted && mealForm.$valid && submitButton">{{totalValue|number:2}}</span>
					    		</div>
				    	</div>
				    	<div class="rightbSide">
					    	<h2>My Earnings Info</h2>

					    	    <label>Tip Total:</label>
					    	    <span class="mealValue" ng-show="mealForm.$submitted  && mealForm.$valid && submitButton">{{totalTip|number:2}}</span>
					    	    <label>Meal count:</label>
					    	    <span class="mealValue" ng-show="mealForm.$submitted && mealForm.$valid && submitButton">{{counter|number:0}}</span>
					    	    <label>Average Tip Per Meal:</label>
					    	    <span class="mealValue" ng-show="mealForm.$submitted && mealForm.$valid && submitButton">{{aveTip|number:2}}</span>
			    	    </div>
		    	    </div>
						<input type="submit" class="button2" value="Reset" ng-click="resetValues()">
				    	
		    		
		    	</div>
	    	</form>
	</body>
</html>